<div class="section section-one">
      <div class="container">
          <div class="flex">
              <div>
                  <h2>Bonjour je suis <strong>Gerald Charo KEITA</strong>  front-end Designer ,
                     develppeur HTML CSS Drupal Laravel et Angular</h2>

                     <p class="p">
                        Je suis a votre services pour realiser vos maquettes de site web ou application web
                         ou encore developper des sites web ou application web avec des outils de haute qualite 
                     </p><br>

                     <a href="#" class="button">Me-contactez</a>
              </div>
              <div>
                    <img src="../../assets/MesImages/image.svg">
              </div>
          </div>
      </div>
</div>
<div class="section section-tree">
    <div class="container">
        <h2 class="serve">Mes service de Travaille</h2>
        <div class="flex">
            <div>
                 <img src="../../assets/MesImages/web.webp" width="400" srcset="">
                 <p>Web Designe</p>
            </div>
           <div>
                 <img src="../../assets/MesImages/front-end-ikigai-1024x768.jpeg" width="300" srcset="">
                 <p>Dev Front-end</p>
            </div>
            <div>
                <img src="../../assets/MesImages/drupal.png" width="400"srcset="">
                <p>Drupal</p>
           </div>
        </div>
    </div>
</div>
<div class="section section-two">
    <div class="container">
        <h2 class="serve">Quelqu'unes de mes Realisation</h2>
        <div class="flex">
            <div>
                 <img src="../../assets/MesImages/logistique.png" width="400" srcset="">
                 <p>Application Gestion de Transport Logistique</p>
            </div>
           <div>
                 <img src="../../assets/MesImages/cv.png" width="400" srcset="">
                 <p>Mon Porfolio</p>
            </div>
            <div>
                <img src="../../assets/MesImages/site.png" width="400"srcset="">
                <p>E-commerce</p>
           </div>
        </div>
    </div>
</div>